<?xml version="1.0" encoding="utf-8"?>
<manifest package="comp3350.iPuP"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.StudentsActivity"
            android:label="@string/title_activity_students">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.iPuP.presentation.HomeActivity"/>
        </activity>
        <activity
            android:name=".presentation.StudentCoursesActivity"
            android:label="@string/title_activity_student_courses">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.iPuP.presentation.StudentsActivity"/>
        </activity>
        <activity
            android:name=".presentation.HostActivity"
            android:label="@string/title_activity_courses">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.iPuP.presentation.HomeActivity"/>
        </activity>
        <activity
            android:name=".presentation.CourseStudentsActivity"
            android:label="@string/title_activity_course_students">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.iPuP.presentation.HostActivity"/>
        </activity>
        <activity
            android:name=".presentation.AvailableParkingSpots"
            android:label="@string/title_activity_available_parking_spots"
            android:parentActivityName=".presentation.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.iPuP.presentation.HomeActivity"/>
        </activity>
        <activity
            android:name=".presentation.ParkingSpotInfoActivity"
            android:label="@string/title_activity_parking_spot_info"
            android:parentActivityName=".presentation.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="comp3350.iPuP.presentation.AvailableParkingSpots"/>
        </activity>
    </application>

</manifest>